@media screen and (min-width:576.1px) and (max-width:992px) {
    header {
        height: 500px;
    }

    .header-title {
        font-size: 3.5rem;
    }

    .header-description {
        font-size: 1rem;
        padding: 20px;
    }

    #donate {
        max-width: 700px;
        margin-top: 100px;
    }

    .taka-container {
        flex-wrap: wrap;
    }

    .other-amount {
        margin-top: 200px;
    }

    #donate-plan,
    #subscription,
    #contribute {
        margin-top: 100px;
    }

    .plan-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }

    .contribution-container {
        padding: 20px;
    }

    .sub-container {
        margin-left: 10px;
        margin-right: 10px;
    }
}