@media screen and (max-width:576px) {
    header {
        height: 500px;
    }

    .header-title {
        font-size: 2.5rem;
    }

    .header-description {
        font-size: 0.8rem;
        padding: 10px;
    }

    #donate {
        max-width: 400px;
        margin-top: 50px;
    }

    .taka-container {
        flex-wrap: wrap;
    }

    .other-amount {
        margin-top: 320px;
    }

    #donate-plan,
    #contribute {
        margin-top: 50px;
    }

    .plan-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }

    .contribution-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }

    .contribution button {
        width: 60%;
    }
}