/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

/* Shared Styles */
body {
    max-width: 1440px;
    border: 2px solid red;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(18, 18, 18);
    --secondary-color: rgb(112, 112, 112);
}

.btn-primary {
    border-radius: 5px;
    background: rgb(255, 89, 89);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    padding: 16px 12px 16px 12px;
    cursor: pointer;
}

#donate-plan,
#contribute {
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 130px;

}

/* Header Styles */
header {
    height: 670px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0.00deg, rgb(18, 18, 18), rgba(18, 18, 18, 0) 100%), url('../images/donation1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-container {
    max-width: 826px;
    margin: 0 auto;
    text-align: center;

}

.header-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4.1rem;
    font-weight: 700;

}

.header-description {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Donate Today Section */
#donate {
    width: 800px;
    margin: 0px auto;
    margin-top: 130px;
    /* border: 2px solid green; */
}

.section-title {
    color: var(--primary-colorF);
    font-family: Inter;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}

.section-description {
    color: var(--secondary-color);
    font-family: Poppins;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 690px;
    margin: 20px auto;
}

.taka-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    height: 130px;

}

.taka {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    padding: 44px 25px;
    height: 100%;
}

.taka:hover {
    box-sizing: border-box;
    border: 2px solid rgb(255, 89, 89);
    border-radius: 5px;
    background: rgb(255, 238, 238);
    color: rgb(255, 89, 89);
    ;
}

.other-amount {
    color: rgb(179, 179, 179);
    font-family: Poppins;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 50px;
}

.hr {
    border: 1px solid rgb(218, 218, 218);
    margin-top: 10px;
    margin-bottom: 30px;
}

.donate-btn {
    text-align: center;
}

/* Donate Plan */
.plan-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 50px;
    padding: 10px;
}

.plan-title {
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 1.5rem;
    margin-top: 31px;
    margin-bottom: 16px;
}

.plan-description {
    color: var(--secondary-color);
    font-family: Poppins;
    font-size: 1rem;
}

.plan-1,
.plan-2,
.plan-3 {
    padding: 60px 25px 50px 25px;
    border-radius: 5px;
}

.plan-1 {
    background: rgba(79, 157, 166, 0.1);
}

.plan-2 {
    background: rgba(255, 89, 89, 0.1);
}

.plan-3 {

    background: rgb(233, 233, 203);
}

/* contribution */
.contribution-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.contribution-title {
    color: var(--primary-color);
    font-family: Inter;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: left;
}

.contribution-description-1,
.contribution-description-2 {
    color: var(--secondary-color);
    font-family: Poppins;
    font-size: 1.1rem;
    font-weight: 400;

}

.contribution-description-1 {
    margin-top: 20px;
    margin-bottom: 15px;

}

.contribution-description-2 {
    margin-bottom: 30px;
}

.contribution img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.contribution {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contribution button {
    width: 50%;
}